- def arethusa(rev, gold = nil, chunk = nil, word = nil)
  - "http://sosol.perseids.org/tools/arethusa/app/#/perseidslataldt?doc=#{rev}"
- def to_tooltip(cat, v)
  - %{#{cat}: <span class="success">#{v.original}</span> -> <span class="error">#{v.new}</span>}
- def extract_heads(diff, s_id)
  - if heads = diff[:head]
    - [to_id(s_id, heads.original), to_id(s_id, heads.new)]
- def to_id(s_id, w_id)
  - "#{s_id}-#{w_id}"

- diff.all_diffs.each do |c|
  - rev = c.reviewable
  - gold = c.gold
  %p
    = "Comparison of #{gold.id} and #{rev.id}"

  %h4.center.underline Report

  %table
    %tr
      %th
      %th Total
      %th.success{title: 'right'} ✔
      %th.error{title: 'wrong'} ✘
      %th.yellow{title: 'unique'} 1
    - c.report.each do |category, rep|
      %tr
        %td.first
          = category.capitalize
        %td
          = rep.total
        %td
          = rep.right
        %td
          = rep.wrong
        %td
          = rep.unique


  %h4.center.underline Diff
  - c.each do |s_id, s_diff|
    - next if s_id == :report
    - sentence = rev.sentences[s_id]

    .sentence
      %p
        %strong.big.yellow
          = s_id
        - sentence.each do |w_id, w|
          - attrs = { id: to_id(s_id, w_id), class: 'token' }
          - if w_diff = s_diff[w_id]
            - attrs[:tooltip] = w_diff.map { |k, v| to_tooltip(k, v) }.join("\n")
            - if heads = extract_heads(w_diff, s_id)
              - attrs[:hr] = heads[0]
              - attrs[:hw] = heads[1]
              - attrs[:class] << ' head-error'
            - attrs[:class] << ' error tooltip'
          %span{attrs}
            = w.form
          %sup.tiny<
            = w_id
      .center
        %a{ href: arethusa('4083')}
          View in Arethusa





